/* *{
    border: 1px dashed red;
    min-height: 10px
} */

.imagen1{
    width: 345px;
    height: 230px;
    margin-left: 100px;
}

.color-personalizado{
    background-color: #5b3a29;
    color: white;
}

.color-personalizado a{
    color: white;
}